# Compiled JavaScript files
lib/**/*.js
**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# firebase-admin
*firebase-adminsdk*.json

# firebase environment
.runtimeconfig.json
